<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register User</title>
  <link rel="stylesheet" href="../stylesheets/style.css">
</head>

<body>


  <form action="/register" method="post">
  <div class="container">
      <div class="content">
        <!--pinterest logo-->
        <img src="https://i.pinimg.com/originals/d3/d1/75/d3d175e560ae133f1ed5cd4ec173751a.png" alt="pin logo"
          class="img1" />
        <p class="header">Create New Account</p>

        <input type="text" placeholder="Enter Username" name="username" class="detail" /><br />

        <input type="email" placeholder="Email" name="email" class="detail" /><br />

        <input type="number" placeholder="Age" name="age" class="detail" />

        <input type="password" placeholder="Password" name="password" class="detail" />

        <a href="#">
          <h4>Forgot your password?</h4>
        </a>

        <button class="btn int" type="submit">Create New Account</button>

        <footer>
          <p>
            By continuing, you agree to Pinterest's
            <b>Terms of Service, Privacy policy.</b>
          </p>
          <hr />
          <a href="/login">
            <p class="p">You Allready Member? <b>log in </b></p>
          </a>
        </footer>
      </div>
    </div>
  </form>

</body>

</html>