<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../stylesheets/style.css">
</head>
<body>

    <h1>ye mera profile wala page hai aur tumhara con sa page hai </h1>
<h1>tumhara <%=name%> kya hai apna <%=name%> batao mujhe mai tumhare <%=name%> ko resume me add akrunga</h1>
    
</body>
</html>